/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Video de fondo */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}

/* Estilos generales de la tarjeta */
.card, .card-admin {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 300px;
  width: 450px;
  max-width: 400px;
  height: 550px;
  background: #1a1a1a;
  border: 2px solid #8a0202;
  border-radius: 8px;
  overflow: hidden;
  color: white;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro */
  box-shadow: 1px 1px 8px 1px rgba(255, 0, 0, 0.5); /* Sombra roja */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-admin {
  height: 500px;
  background: #1a1a1a; /* Fondo oscuro */
}

/* Efecto hover en la tarjeta */
.card:hover {
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.7); /* Sombra roja más intensa */
  transform: scale(1.02);
}

/* Contenido de la tarjeta */
.card-content {
  position: relative;
  height: 100%;
  z-index: 1;
  padding: 16px;
  color: #ffffff; /* Texto blanco */
}

/* Enlaces */
a {
  text-decoration: none;
  color: #ff0000; /* Rojo */
}

a:hover {
  color: #ff4d4d; /* Rojo más claro */
}

/* Estilos para los inputs */
.form-control {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
  box-shadow: 1px 1px 8px rgba(255, 0, 0, 0.3); /* Sombra roja */
  width: 300px;
  border: 1px solid #570404; /* Borde rojo */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  color: white; /* Texto blanco */
}

.form-control:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Fondo más claro al pasar el mouse */
  box-shadow: 1px 1px 8px rgba(255, 0, 0, 0.5); /* Sombra roja más intensa */
  border: 2px solid #ff4d4d; /* Borde rojo más claro */
}

.form-control:focus {
  background-color: rgba(255, 0, 0, 0.2); /* Fondo rojo semi-transparente */
  border: none;
  color: white;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Placeholder semi-transparente */
  font-style: italic;
}

/* Efecto de borde interno en la tarjeta */
.card::before {
  content: '';
  position: absolute;
  inset: 4px;
  border: 1px solid rgba(255, 0, 0, 0.3); /* Borde rojo semi-transparente */
  border-radius: 6px;
  pointer-events: none;
}

/* Estilos del botón futurista */
.futuristic-button {
  position: relative;
  padding: 10px 20px;
  background: linear-gradient(135deg, #ff0000, #8b0000); /* Degradado rojo */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.futuristic-button:hover {
  background: linear-gradient(135deg, #8b0000, #ff0000); /* Degradado rojo invertido */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.7); /* Sombra roja */
}

.futuristic-button .button-text {
  position: relative;
  z-index: 2;
}

.futuristic-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease;
  z-index: 1;
}

.futuristic-button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

/* Estilos del dropdown */
.dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.dropdown-button {
  background-color: rgba(255, 0, 0, 0.1); /* Fondo rojo semi-transparente */
  border: 1px solid #ff0000; /* Borde rojo */
  color: rgba(255, 255, 255, 0.733);
  font-size: 15px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(255, 0, 0, 0.3); /* Sombra roja */
  text-align: left;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.dropdown-button:hover {
  background-color: rgba(255, 0, 0, 0.3); /* Fondo rojo más intenso */
  box-shadow: 1px 1px 8px rgba(255, 0, 0, 0.5); /* Sombra roja más intensa */
  border: 1px solid #ff4d4d; /* Borde rojo más claro */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a1a1a; /* Fondo oscuro */
  width: 100%;
  box-shadow: 1px 1px 8px rgba(255, 0, 0, 0.3); /* Sombra roja */
  z-index: 1;
  border-radius: 5px;
  margin-top: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #ff0000; /* Rojo */
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 0, 0, 0.3); /* Borde rojo semi-transparente */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: rgba(255, 0, 0, 0.2); /* Fondo rojo semi-transparente */
  color: #ffffff; /* Texto blanco */
  border-bottom: none;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

/* Animación del fondo */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #000000, #030303, #000000, #1a1a1a); /* Degradado negro */
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
  z-index: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}